#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    border: 2px solid black;


    
}

.parent-container {
    display: flex;
    // flex-direction: row;
    height: 300px;
}

