#canvas {
    // position: absolute;
    width: 600px;
    height: 400px;
    border: 2px solid black;  
}

.parent-container {
    display: flex;
    // flex-direction: row;
    height: 300px;
}


.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    

}

.scoreboard_name,
.scoreboard_score {
    padding: 10px;
    text-align: center;

}
.scoreboard_name {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.scoreboard_score{
    font-size: 2em;
}